body {
	background-color: black;
	background-image: url('prog.JPG');
	background-size: 150%;
	background-position: center center;
	padding: 8px;
	margin: 0;
	text-align: left;
	font-family: 'Times New Roman', 'Times', sans-serif;
	font-size: 16pt;
	font-weight: normal;
	text-decoration: none;
	color: #E8E8E8;
	text-shadow: 2px 2px 1px #8080FE;
}
